[Unit]
Description=Check CryptoPortfolio develop for updates

[Timer]
OnBootSec=2min
OnUnitInactiveSec=2min
AccuracySec=15s

[Install]
WantedBy=timers.target
